{{define "head"}}
<title>Quit</title>
{{end}}

{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col col-md-12">

      <div class="panel-body"></div>
      <div class="panel-body"></div>

      <div class="panel panel-default panel-body text-center">
        <p>Thanks for the ride. See you!</p>
	<hr />
        <p>
          <em>
            If you have restarted the server, you can
            <a href="{{linkTo `home`}}">click here</a>
            .
	  </em>
        </p>
      </div>

      <div class="panel-body"></div>
      <div class="panel-body"></div>

    </div>
  </div>
</div>
{{end}}

{{define "foot"}}
{{end}}
