{{define "color-table"}}
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Hex value</th>
  </tr>
  <tr>
    <td>red</td>
    <td>#ff0000</td>
  </tr>
  <tr>
    <td>green</td>
    <td>#00ff00</td>
  </tr>
  <tr>
    <td>blue</td>
    <td>#0000ff</td>
  </tr>
</table>
{{end}}
